html{

    background: url(bacground-image.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: fit-content;
    height: 100%;
}

#rock{
    background-color: red;
    cursor: pointer;
    border-radius: 5px;
    min-width: 60px;
    margin: auto;
}

#paper {
    background-color: blue;
    cursor: pointer;
    border-radius: 5px;
    min-width: 60px;
    margin: auto;
}

#scissors {
    background-color: green;
    cursor: pointer;
    border-radius: 5px;
    min-width: 60px;
    margin: auto;
}

#reset {
    cursor: pointer;
    border-radius: 5px;
    min-width: 60px;
    margin: auto;  
}

